//font-family: 'Ubuntu', sans-serif;

$lightGray: #D4D2D5;
$darkLava: #463F3A;
$sizzlingRed: #EF5D60;
$white: #fff;

body{
    background-color: $lightGray;
}

*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grid-container{
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .grid-cell{
        border: 1px $darkLava solid;
        background-color: $white;
        padding: 7px;
    }
}