//font-family: 'Ubuntu', sans-serif;

$lightGray: #D4D2D5;
$darkLava: #463F3A;
$sizzlingRed: #EF5D60;
$white: #fff;

body{
    background-color: $lightGray;
    font-family: 'Ubuntu', sans-serif;
}

*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    color: $darkLava;
    font-size: 30px;
    margin-top: 50px;
}

#grid-container{
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .grid-cell{
        border: 1px $darkLava solid;
        background-color: $white;
        padding: 7px;
    }
}

form{

    label{
        font-weight: 500;
        font-size: 20px;
        color: $darkLava;
        letter-spacing: 0.1px;
    }

    .buttons{
        padding: 7px 14px;
        border-radius: 4px;
        border: 2px $sizzlingRed solid;
        margin: 10px 0;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
        font-size: 17px;
        color: $white;
        background-color: $sizzlingRed;
        letter-spacing: 0.1px;
    }

    .buttons:hover{
        cursor: pointer;
    }
}